body {
  font-family: sans-serif;
}
/* new changes */
input {
  padding-bottom: 1em;
}
.inlineMe {
  display: inline;
}

.next {
  padding-top: 1em;
}
.toggleContent {
  display: none;
}
section * {
  padding: 1em;
}

.claseNueva {
  border: 1px solid #333;
  margin: 1em;
}
